* {
  box-sizing: border-box;
}

html {
  --theme-color: #ffffff;
  --text-color: #ffffff;
  --text-color-inverse: #000000;
  --primary-color: #008b8b;
  --primary-color-brightness: #29c1c4;
  --gold: #ffd700;
}

.body {
  background: #e96443;
  background: linear-gradient(to right, #904e95, #e96443);
  font-family: 'Slabo 27px', Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  color: var(--text-color);
}

.header__name {
  color: var(--gold);
}

.main {
  text-align: center;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resultado {
  position: relative;
  width: 100%;
}

.resultado-enter {
  transition: all 1s;
}

.resultado-enter.resultado-enter-active {
  transform: translateY(0);
}

.resultado-exit {
  position: absolute;
  transform: translateY(0);
  transition: all 1s;
  left: 0;
  top: 0;
  right: 0;
}

.resultado-exit-active {
  opacity: 0;
  transform: translateY(-10%);
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-color);
}